.games {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.games > a {
    color: #fff;
    font-size: 3rem;
    margin: 60px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 40px;
}

.game > i {
    font-size: 3rem;
    margin: 10px 0;
}